<section class="hero" id="home-section">
  <div class="home-slider owl-carousel owl-loaded owl-drag">
    <div class="owl-stage-outer">
      <div class="owl-stage"
        style="transform: translate3d(-10634px, 0px, 0px); transition: all 0s ease 0s; width: 18231px;">
        <div class="owl-item cloned col-lg-12" style="width: 1519.2px;">
          <div class="slider-item" style="background-image: url(../../assets/images/index-pic-8.jpg);">
            <div class="overlay"></div>
            <div class="container">
              <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
                <div class="col-sm-12 ftco-animate text-center fadeInUp ftco-animated">
                  <h1 class="mb-2">100% Fresh &amp; Produce</h1>
                  <p><a class="btn btn-primary" href="vegetables.html">View Details</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="owl-item cloned" style="width: 1519.2px;">
          <div class="slider-item" style="background-image: url(../../assets/images/index-pic-11.jpg);">
            <div class="overlay"></div>
            <div class="container">
              <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
                <div class="col-sm-12 ftco-animate text-center fadeInUp ftco-animated">
                  <h1 class="mb-2">We import fresh fruits and &amp; vegetables</h1>
                  <p><a class="btn btn-primary" href="vegetables.html">View Details</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="owl-item cloned" style="width: 1519.2px;">
          <div class="slider-item" style="background-image: url(../../assets/images/index-pic-7.jpg);">
            <div class="overlay"></div>
            <div class="container">
              <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
                <div class="col-sm-12 ftco-animate text-center fadeInUp ftco-animated">
                  <h1 class="mb-2">We import fresh fruits and &amp; vegetables</h1>
                  <p><a class="btn btn-primary" href="vegetables.html">View Details</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="owl-item" style="width: 1519.2px;">
          <div class="slider-item" style="background-image: url(../../assets/images/index-pic-9.jpg);">
            <div class="overlay"></div>
            <div class="container">
              <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
                <div class="col-md-12 ftco-animate text-center fadeInUp ftco-animated">
                  <h1 class="mb-2">We import fresh fruits and &amp; vegetables</h1>
                  <p><a class="btn btn-primary" href="fruits.html">View Details</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="owl-item" style="width: 1519.2px;">
          <div class="slider-item" style="background-image: url(../../assets/images/index-pic-6.jpg);">
            <div class="overlay"></div>
            <div class="container">
              <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
                <div class="col-sm-12 ftco-animate text-center fadeInUp ftco-animated">
                  <h1 class="mb-2">100% Fresh &amp; Produce</h1>
                  <p><a class="btn btn-primary" href="vegetables.html">View Details</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="owl-item" style="width: 1519.2px;">
          <div class="slider-item" style="background-image: url(../../assets/images/index-pic-2.jpg);">
            <div class="overlay"></div>
            <div class="container">
              <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
                <div class="col-sm-12 ftco-animate text-center fadeInUp ftco-animated">
                  <h1 class="mb-2">We import fresh fruits and &amp; vegetables</h1>
                  <p><a class="btn btn-primary" href="vegetables.html">View Details</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="owl-item" style="width: 1519.2px;">
          <div class="slider-item" style="background-image: url(../../assets/images/index-pic-8.jpg);">
            <div class="overlay"></div>
            <div class="container">
              <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
                <div class="col-sm-12 ftco-animate text-center fadeInUp ftco-animated">
                  <h1 class="mb-2">100% Fresh &amp; Produce</h1>
                  <p><a class="btn btn-primary" href="vegetables.html">View Details</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="owl-item active" style="width: 1519.2px;">
          <div class="slider-item" style="background-image: url(../../assets/images/index-pic-11.jpg);">
            <div class="overlay"></div>
            <div class="container">
              <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
                <div class="col-sm-12 ftco-animate text-center fadeInUp ftco-animated">
                  <h1 class="mb-2">We import fresh fruits and &amp; vegetables</h1>
                  <p><a class="btn btn-primary" href="vegetables.html">View Details</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="owl-item" style="width: 1519.2px;">
          <div class="slider-item" style="background-image: url(../../assets/images/index-pic-7.jpg);">
            <div class="overlay"></div>
            <div class="container">
              <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
                <div class="col-sm-12 ftco-animate text-center fadeInUp ftco-animated">
                  <h1 class="mb-2">We import fresh fruits and &amp; vegetables</h1>
                  <p><a class="btn btn-primary" href="vegetables.html">View Details</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="owl-item cloned" style="width: 1519.2px;">
          <div class="slider-item" style="background-image: url(../../assets/images/index-pic-9.jpg);">
            <div class="overlay"></div>
            <div class="container">
              <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
                <div class="col-md-12 ftco-animate text-center fadeInUp ftco-animated">
                  <h1 class="mb-2">We import fresh fruits and &amp; vegetables</h1>
                  <p><a class="btn btn-primary" href="fruits.html">View Details</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="owl-item cloned" style="width: 1519.2px;">
          <div class="slider-item" style="background-image: url(../../assets/images/index-pic-6.jpg);">
            <div class="overlay"></div>
            <div class="container">
              <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
                <div class="col-sm-12 ftco-animate text-center fadeInUp ftco-animated">
                  <h1 class="mb-2">100% Fresh &amp; Produce</h1>
                  <p><a class="btn btn-primary" href="vegetables.html">View Details</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="owl-item cloned" style="width: 1519.2px;">
          <div class="slider-item" style="background-image: url(../../assets/images/index-pic-2.jpg);">
            <div class="overlay"></div>
            <div class="container">
              <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
                <div class="col-sm-12 ftco-animate text-center fadeInUp ftco-animated">
                  <h1 class="mb-2">We import fresh fruits and &amp; vegetables</h1>
                  <p><a class="btn btn-primary" href="vegetables.html">View Details</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="owl-nav disabled"><button class="owl-prev" role="presentation"><span
          class="ion-md-arrow-back"></span></button><button class="owl-next" role="presentation"><span
          class="ion-chevron-right"></span></button></div>
    <div class="owl-dots"><button class="owl-dot"><span></span></button><button
        class="owl-dot"><span></span></button><button class="owl-dot"><span></span></button><button
        class="owl-dot"><span></span></button><button class="owl-dot active"><span></span></button><button
        class="owl-dot"><span></span></button></div>
  </div>
</section>
<section class="ftco-section">
  <div class="container">
    <div class="row no-gutters ftco-services">
      <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
        <div class="media block-6 services mb-md-0 mb-4">
          <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
            <span class="flaticon-shipped"></span>
          </div>
          <div class="media-body">
            <h3 class="heading">Free Shipping</h3>
            <span>On order over £500</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
        <div class="media block-6 services mb-md-0 mb-4">
          <div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
            <span class="flaticon-diet"></span>
          </div>
          <div class="media-body">
            <h3 class="heading">Always Fresh</h3>
            <span>Product well package</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
        <div class="media block-6 services mb-md-0 mb-4">
          <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
            <span class="flaticon-award"></span>
          </div>
          <div class="media-body">
            <h3 class="heading">Superior Quality</h3>
            <span>Quality Products</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
        <div class="media block-6 services mb-md-0 mb-4">
          <div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
            <span class="flaticon-customer-service"></span>
          </div>
          <div class="media-body">
            <h3 class="heading">Support</h3>
            <span>24/7 Support</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="ftco-section ftco-category ftco-no-pt">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6 order-md-last align-items-stretch d-flex">
            <div class="category-wrap-2 ftco-animate img align-self-stretch d-flex fadeInUp ftco-animated"
              style="background-image: url(../../assets/images/category.jpg);">
              <div class="text text-center">
                <h2>Our Products</h2>
                <p><a href="vegetables.html" class="btn btn-primary">Go to Products Page</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="category-wrap ftco-animate img mb-4 d-flex align-items-end fadeInUp ftco-animated"
              style="background-image: url(../../assets/images/category-pic-fruits.jpg);">
              <div class="text px-3 py-1">
                <h2 class="mb-0"><a href="fruits.html">Fruits</a></h2>
              </div>
            </div>
            <div class="category-wrap ftco-animate img d-flex align-items-end fadeInUp ftco-animated"
              style="background-image: url(../../assets/images/category-pic-vegetables.jpg);">
              <div class="text px-3 py-1">
                <h2 class="mb-0"><a href="vegetables.html">Vegetables</a></h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="category-wrap ftco-animate img mb-4 d-flex align-items-end fadeInUp ftco-animated"
          style="background-image: url(../../assets/images/category-3.jpg);">
          <div class="text px-3 py-1">
            <h2 class="mb-0"><a href="foliage.html">Fresh Cut Foliage</a></h2>
          </div>
        </div>
        <div class="category-wrap ftco-animate img d-flex align-items-end fadeInUp ftco-animated"
          style="background-image: url(../../assets/images/all.jpg);">
          <div class="text px-3 py-1">
            <h2 class="mb-0"><a href="other.html">Other</a></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-3 pb-3">
      <div class="col-md-12 heading-section text-center ftco-animate fadeInUp ftco-animated">
        <h2 class="mb-4">Our Products</h2>
      </div>
    </div>
  </div>
  <!-- <div class="container" *ngIf="productsfeatured">
    <div class="row">
      <div class="col-md-6 col-lg-3 ftco-animate fadeInUp ftco-animated" *ngFor="let productsfeatured of productsfeatured">
        <div class="product">
          <a href="other.html" class="img-prod"><img class="img-fluid" src="../../assets/images/{{ productsfeatured.image }}"
              alt="Colorlib Template">
            <div class="overlay"></div>
          </a>
          <div class="text py-3 pb-4 px-3 text-center">
            <h3><a href="other.html">{{ productsfeatured.name }}</a></h3>
            <div class="d-flex">
              <div class="pricing">
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div> -->
</section>
