*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.addbody{
    font-family: 'Courier New', Courier, monospace; 
}

.addsection{
    height: 100vh;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addcontainer{
    width: 90%;
    max-width: 500px;
    margin:0 auto;
    padding: 20px;
    box-shadow: 0px 0px 20px #00000010;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 20px;
}
.addformgroup{
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
}
.addformgroup input,
.addformgroup textarea{
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border: 1px solid rgba(128, 128,128, 0.199);
    margin-top: 5px;
}