<div class="hero-wrap hero-bread" style="background-image: url('../../../assets/images/index-pic-11.jpg');">
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center fadeInUp ftco-animated">
        <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Products</span></p>
        <h1 class="mb-0 bread">Vegetables</h1>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="products">
  <div class="col-lg-12">
    <div>
      <button
        style="margin-left: 58px;margin-top: 1pc;display: flex;justify-content: center;margin: auto;margin-top: 1pc;"
        class="btn btn-success" [routerLink]="['/product/' + categoryId + '/new']">Add
        {{ category }}</button>
    </div>
  </div>
  <section class="ftco-section">
    <div class="container">
      <div class="row" *ngIf="products">
        <div class="col-md-6 col-lg-3 ftco-animate fadeInUp ftco-animated" *ngFor="let product of products">
          <div class="product">
            <a class="img-prod"><img class="img-fluid" src="../../../assets/images/{{ product.Image }}"
                [routerLink]="['/product/' + product.categoryId + '/' + product.Id ]"
                routerLinkActive="router-link-active" alt="Colorlib Template">
              <div class="overlay"></div>
            </a>
            <div class="text py-3 pb-4 px-3 text-center">
              <h3><a [routerLink]="['/product/' + product.categoryId + '/' + product.Id ]"
                  routerLinkActive="router-link-active" routerLinkActive="router-link-active">{{
                  product.Name}}</a></h3>
              <button type="button" class="btn btn-outline-secondary" (click)="removeProduct(product);">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-trash"
                  viewBox="0 0 16 16">
                  <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z">
                  </path>
                  <path fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z">
                  </path>
                </svg>
                <span class="visually-hidden"></span>
              </button>
              <div class="d-flex">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
