<div class="hero-wrap hero-bread" style="background-image: url('../../../assets/images/index-pic-11.jpg');">
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center fadeInUp ftco-animated">
        <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>About us</span></p>
        <h1 class="mb-0 bread">About us</h1>
      </div>
    </div>
  </div>
</div>
<section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/.jpg);">
        <a href="https://vimeo.com/45830194" class="icon popup-vimeo d-flex justify-content-center align-items-center">
          <span class="icon-play"></span>
        </a>
      </div>
      <div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate fadeInUp ftco-animated">
        <div class="heading-section-bold mb-4 mt-md-5">
          <div class="ml-md-0">
            <h2 class="mb-4">WELCOME TO TROPIC INTERNATIONAL PVT LTD</h2>
          </div>
        </div>
        <div class="pb-md-5">
          <p>We are a family own import company based in London, UK have been operating in the importation of fresh fruits, vegetables,
             and cut foliage to Uk over the last 12 years. As we have our strong family connections with Sri Lanka, we have been importing 
             all the items from Sri Lanka through our own export processing center based in the country. We pride our selves being able to employ
              the vast majority of the workforce from our locality and being able to source from all parts of the country for our fresh produce.
               As we have now started importing a range of fruits and vegetables from India we are now able to offer an even wider range of a 
               selection of commodities to our valued customers.</p>
          <!-- <p><a href="#" class="btn btn-primary">Shop now</a></p> -->
          <h4 class="mb-4">DISTRIBUTION AND TRANSPORTAION.</h4>
          <p>As consignments arrive throughout the week, London and out of London distribution can be arranged for any customer within the
             mainland to match their individual needs.</p>
        </div>
      </div>
    </div>
  </div>
</section>